.idea/*
.idea
test/
test/*
Assignment2/__pycache__/demo.cpython-311.pyc
Assignment2/output.csv
Assignment2/SRR22537909.fasta
Assignment1/SRR22537909.fasta
Assignment1/output.csv
Assignment2/SRR22537909.fasta
Assignment2/SRR22537909.fasta
